<header>
	<div class="social">
				<iframe src="http://www.facebook.com/plugins/like.php?href&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:21px;" allowTransparency="true"></iframe>	
		<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	</div>
	<meta name="title" content="Binghamton University Face Mash - Rate and compare your classemates" />
	<meta name="description" content="Binghamton University Face Mash - Rate your classmates and see who is the hottest girl on campus" />
<h1 id="title_tag"><a href="<%= vote_path %>">Binghamton University Face Mash</a>
</h1>
<nav class = "round">
	<ul>
		<% if !signed_in? %>
			<li>
				<%= link_to "Sign up", signup_path %>
			</li>
		<% end %>
		<li>
			<%= link_to "Home", root_path %>
		</li>
		<li>
			<%= link_to "Vote", vote_path %>
		</li>
		<li>
			<%= link_to "Upload Image", new_product_path %>
		</li>
		<li>
			<%= link_to "Top Votes", products_top_path %>
		</li>
		<% if signed_in? %>
		<li>
			<%= link_to "Sign out", signout_path %>
		</li>
		<% end %>
	</ul>
</nav>
</header>